@font-face {
  font-family: "Favorit-Bold", sans-serif; font-weight:500; font-style: normal;
  src: url("../fonts/Favorit-Bold.woff") format('woff')
       url("../fonts/Favorit-Bold.ttf") format('truetype');

  font-family: "Cormorant Garamond"; font-style: italic;
  src:url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff") format('woff'),
      url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff2") format('woff2'),url(),
      url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf") format('truetype');

  font-family: "Cormorant Garamond"; font-style: normal;
  src:  url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.woff") format('woff'),
        url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff2") format('woff2'),
        url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf") format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;1,100;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

html {
}

body {
  /* background: url(../images/UT-VI_220107_launching.jpg);
  background-size: 97%,cover;
  background-repeat: no-repeat; */
  background: rgb(193,184,145);
  background: linear-gradient(-90deg, rgba(193,184,145,1) 26%, rgba(255,255,255,0) 93%);
  margin:0;
}
a{
  list-style-type: none;
  text-decoration: none;
  color:#b05a6f;
}
a:hover {
  cursor: pointer;
  color: #c1b891;
}

.topbar{
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom: 2px dotted #b05a6f;
  padding: 1rem;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding-left:1rem;
  padding-right:1rem;
  text-align: center;
  font-size: 1rem;
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
}

.content{
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; */
}
.txt-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.txt-container > div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  margin:1rem;
  /* padding:1rem; */
  border-bottom: 2px dotted #b05a6f;
}
.txt-container > #row-7{
  border-bottom: 0;
}
.left-column{
  order:1;
  width:35%;
  border-right: dotted 2px #b05a6f;
  padding-left: 2rem;
}
.right-column{
  padding-left: 1.5rem;
  padding-right: 2rem;
  order:2;
  width:65%;
}
.txt-container > div > div > p{
  color:#b05a6f;
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
}
.txt-container > div > div > #special{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
  font-weight: 500;
}
.txt-container > div > div > h{
  color:#b05a6f;
  display: block;
  width:100%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 2.2rem;
}
#exhibition-title{
  font-style: italic;
}
#island-title{
  font-style: italic;
}
#island{
  font-style: normal;
}


.footer {
  /* position:fixed; */
  z-index: 99;
  /* bottom: 0;
  left: 0;
  right: 0; */
  padding-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-top: 2px dotted #b05a6f;
  color: #b05a6f;
}
.footer > div{
  border-right: 2px dotted #b05a6f;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
#footer-title{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
}
#footer-date{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#footer-location{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#socialmedia{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#credit{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}


@media screen and (max-width: 600px) {
  body {
    /* background: url(../images/UT-VI_220107_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
  }
  nav{
    padding-left:0;
    padding-right:0;
  }


  .footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content:space-around;
    padding-left:0;
    padding-right:0;
    padding-top:2px;
  }
  .footer > div{
    border-bottom: 2px dotted #b05a6f;
    border-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .footer > div >p{
    font-size: 0.8rem;
    margin:2px;;
  }


  .txt-container > div{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }

  .left-column{
    width:100%;
    border-right: 0;
    padding:0;
  }
  .right-column{
    width:100%;
    order:2;
    padding: 0;
  }
  .txt-container > div > div > p{
    font-size: 0.9rem;
  }
  #special{
    font-size: 0.9rem;
  }
  .txt-container > div > div > h{
    font-size: 2rem;
    /* border-bottom: dotted 2px #b05a6f; */
  }
  .img-container{
    margin:7px;
  }
  .img-container > img{
    display: block;
    padding-bottom:7px;
  }
  #L-pic{
    width:100%;
    height:auto;
  }
  #M-pic{
    width:100%;
    height:auto;
  }
  #S-pic{
    width:100%;
    height:auto;
  }
  .vid-container > iframe{
    height:300px;
  }
}
