@font-face {
  font-family: "Favorit-Bold", sans-serif; font-weight:500; font-style: normal;
  src: url("../fonts/Favorit-Bold.woff") format('woff')
       url("../fonts/Favorit-Bold.ttf") format('truetype');

  font-family: "Cormorant Garamond"; font-style: italic;
  src:url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff") format('woff'),
      url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff2") format('woff2'),url(),
      url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf") format('truetype');

  font-family: "Cormorant Garamond"; font-style: normal;
  src:  url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.woff") format('woff'),
        url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff2") format('woff2'),
        url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf") format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;1,100;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

html {
}

body {
  /* background: url(../images/UT-VI_220107_launching.jpg);
  background-size: 97%,cover;
  background-repeat: no-repeat; */
  background-color: white;
}
a{
  list-style-type: none;
  text-decoration: none;
  color:#b05a6f;
}
a:hover {
  cursor: pointer;
  color: #c1b891;
}

.topbar{
  position:fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom: 2px dotted #b05a6f;
  padding: 1rem;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding-left:1rem;
  padding-right:1rem;
  text-align: center;
  font-size: 1rem;
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
}

.center-text{
  position:fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.center-text p{
  margin:-4rem;
  text-align: center;
  font-family: 'Cormorant Garamond';
  font-size: 7rem;
  font-style: italic;
  font-weight: 300;
  color: #b05a6f;
}

.map-container-grid {
  padding-top: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card{
  perspective: 1000px;
  position:relative;
  width: 29rem;
  height: 23rem;
  margin: 0;
  cursor: pointer;
}
.card-content{
  position:absolute;
  /* overflow-y: scroll; */
}
.card-front{
  height: 100%;
  width: 100%;
  transition: all 2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  border: 2px dotted #b05a6f;
  background-color: #d1ebff;

}
img{
  display: block;
  width: 100%;
}

.card-back{
  transition: all 2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform:rotateY(180deg);
  background-color: #d1ebff;
  border: 1px solid #b05a6f;
  height: 100%;
  width: 100%;
}
.card-body {
  /* font-family: 'Lekton', sans-serif; */
  /* font-family: "Favorit-Bold"; */
  font-family: 'Sora', sans-serif;
  padding:1rem;
}
.card-body > h3 {
  font-size: 2rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b05a6f;
}
.card-body > p{
  color: #b05a6f;
}


.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}


.footer {
  /* position:fixed; */
  z-index: 99;
  /* bottom: 0;
  left: 0;
  right: 0; */
  padding-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-top: 2px dotted #b05a6f;
  color: #b05a6f;
}
.footer > div{
  border-right: 2px dotted #b05a6f;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
#footer-title{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
}
#footer-date{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#footer-location{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#socialmedia{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#credit{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}


@media screen and (max-width: 600px) {
  body {
    /* background: url(../images/UT-VI_220107_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
  }
  .map-container-grid{
    padding-top: 2.3rem;
  }
  nav{
    padding-left:0;
    padding-right:0;
  }

  .card{
    height: 17rem;
  }
  .card-body{
    /* text-align: justify; */
    font-size: 0.8rem;
  }
  .card-body > h3{
    margin:0;
  }
  .center-text p{
    display: none;
    margin:-1.4rem;
    font-size: 4rem;
  }


  .footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content:space-around;
    padding-left:0;
    padding-right:0;
    padding-top:2px;
  }
  .footer > div{
    border-bottom: 2px dotted #b05a6f;
    border-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .footer > div >p{
    font-size: 0.8rem;
    margin:2px;;
  }
}
