@font-face {
  font-family: "Favorit-Bold", sans-serif; font-weight:500; font-style: normal;
  src: url("../fonts/Favorit-Bold.woff") format('woff')
       url("../fonts/Favorit-Bold.ttf") format('truetype');

  font-family: "Cormorant Garamond"; font-style: italic;
  src:url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff") format('woff'),
      url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff2") format('woff2'),url(),
      url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf") format('truetype');

  font-family: "Cormorant Garamond"; font-style: normal;
  src:  url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.woff") format('woff'),
        url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff2") format('woff2'),
        url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf") format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;1,100;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

html {
}

body {
  /* background: url(../images/UT-VI_220107_launching.jpg);
  background-size: 97%,cover;
  background-repeat: no-repeat; */
  background-color: #d1ebff;
  margin:0;
}
a{
  list-style-type: none;
  text-decoration: none;
  color:#b05a6f;
}
a:hover {
  cursor: pointer;
  color: #c1b891;
}

.topbar{
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom: 2px dotted #b05a6f;
  padding: 1rem;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding-left:1rem;
  padding-right:1rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
}

.content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.mono-container > iframe {
  display: block;
  width: 100%;
  height:100vh;
}
.duo-container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content:space-between;
}
.work-container{
  height: 100vh;
  overflow: scroll;
  flex-grow: 1;
  left:0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.work-container > img{
  display: block;
  width: 100%;
}
.text-container {
  height: 100vh;
  overflow: scroll;
  flex-grow: 1;
  -ms-overflow-style: none;
}
.text-container > h{
  color:#b05a6f;
  border-bottom: dotted 2px;
  padding-left:30px;
  padding-right:30px;
  padding-top: 10px;
  padding-bottom: 15px;
  display: block;
  width:100%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-size: 2.2rem;
}
.text-container > #work-title{
  background-color: white;
  font-style: italic;
}
.text-container > #artist-name{
  background-color: white;
  background: linear-gradient(0deg, rgba(255,255,255,1) 47%, rgba(255,255,255,0) 100%);
  font-style: normal;
}
.text-container > p{
  color:#b05a6f;
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  padding-left:30px;
  padding-right:30px;
  padding-top: 10px;
  padding-bottom: 15px;
}



.footer {
  /* position:fixed; */
  z-index: 99;
  /* bottom: 0;
  left: 0;
  right: 0; */
  padding-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-top: 2px dotted #b05a6f;
  color: #b05a6f;
}
.footer > div{
  border-right: 2px dotted #b05a6f;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
#footer-title{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.3rem;
}
#footer-date{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#footer-location{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#socialmedia{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}
#credit{
  font-family: 'Sora', sans-serif;
  /* font-family: "Favorit-Bold"; */
  font-size: 1rem;
}


@media screen and (max-width: 600px) {
  body {
    /* background: url(../images/UT-VI_220107_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
  }
  .map-container-grid{
    padding-top: 2.3rem;
  }
  nav{
    padding-left:0;
    padding-right:0;
  }


  .footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content:space-around;
    padding-left:0;
    padding-right:0;
    padding-top:2px;
  }
  .footer > div{
    border-bottom: 2px dotted #b05a6f;
    border-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .footer > div >p{
    font-size: 0.8rem;
    margin:2px;;
  }

  .duo-container{
    display: flex;
    flex-direction: column
    /* flex-wrap: wrap; */
  }
  .text-container{
    order:1;
  }
  .work-container:{
    order:2;
  }
}
